#Должны игнорироваться:
#в Wordpress, в принципе, можно блокировать все, кроме папки с шаблоном, графических файлов и расширений css и js библиотек  
*
!/wp-content/themes/template/*
*.min.css
*.min.js


