#Должны игнорироваться:
#в Wordpress, в принципе, можно блокировать все, кроме папки с шаблоном, графических файлов и расширений css и js библиотек  
/wp-admin/*
/wp-includes/*
/wp-*.php
/index.php
*.min.css
*.min.js
~

